// components/_code.scss
.highlight {
  overflow-x: auto;
  
  table {
    width: auto !important;
    
    pre {
      code {
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        word-break: break-word !important;
      }
    }
  }
  
  .rouge-gutter {
    width: 3em !important;
    min-width: 3em !important;
  }
  
  .rouge-code {
    width: auto !important;
    
    pre {
      margin: 0;
      
      code {
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
      }
    }
  }
}